* {
  /* border-top: 10px solid #1098ad; */
}

body {
  color: #444;
  font-family: sans-serif;
  border-top: 10px solid #1098ad;
}

h1 {
  color: blue;
  font-size: 55px;
  /* background-color: black; */
  text-transform: uppercase;
  border-bottom: 1px solid #f4f80185;
  font-style: italic;
  text-align: center;
}
h2 {
  font-size: 60px;
  color: red;
  text-align: center;
  text-transform: uppercase;
}
h3 {
  text-align: center;
}
/* article header p {
  line-height: 1.5;
  color: bisque;
} */
/* footer p {
  font-size: 10px;
} */
#author {
  font-style: italic;
  font-size: 30px;
}
#copyrighte {
  color: blueviolet;
}

.test1 {
  color: green;
}
.test2 {
  font-size: 16px;
  font-style: italic;
}
/* ul {
  list-style: none;
} */
.table {
  list-style: none;
}
aside {
  background-color: #f7f7f7;
  border-top: 3px solid #1098ad;
  border-bottom: 3px solid #1098ad;
}
/* .firstli {
  font-weight: bold;
} */
li:first-child {
  font-weight: bold;
}
li:last-child {
  font-style: italic;
}

nav a:link {
  font-size: 20px;
}

.pip {
  color: black;
}
