:root {
  --text: #533974;
  --text-h: #08060d;
  --bg: #fff;
  --border: #e5e4e7;
  --code-bg: #f4f3ec;
  --accent: #aa3bff;
  --accent-bg: rgba(170, 59, 255, 0.1);
  --accent-border: rgba(170, 59, 255, 0.5);
  --social-bg: rgba(244, 243, 236, 0.5);

  --shadow:
    rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;

  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  --heading: system-ui, 'Segoe UI', Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  /* font: 18px/145% var(--sans); */
  /* letter-spacing: 0.18px; */
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* header{
  background-color: var(--accent);
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
} */

a:link, a:visited{
  text-decoration: none;
}

a:hover, a:active{
  text-decoration: none;
  color: white;
}

.container{
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.home{
  display: flex;
  flex: 1;
}


/* .logo{
  
  font-size: 2rem;
  font-weight: 300;

  &:hover{
    color: white;
    cursor:pointer;
  }
} */

/* .menu{
  display: flex;
  gap: 1rem;
  list-style: none;
} */

.active{
  color: white;
}

.slider{
  display: flex;
  flex-direction: column;
  height: 35rem;
  width: 35rem;
  justify-self: center;
  margin-top: 20px;
}

.text{
  margin: 1rem;
}

.start{
  margin-left: 2rem;
  justify-self: center;
}

.days{
  justify-self: center;
  border: 1px solid #000;
  padding: 1rem;
  border-radius: 25%;
  background-color: #1fa2673c;
  margin: 1rem;
}


.logo{
  display: flex;
  margin: 10px;
}

.header{
  display: flex;
  align-items: center;
  padding: 1rem;
  /* background-color: #000; */
  justify-content: space-between;
  border-bottom: 1px solid #000;
}

.menu{
  list-style: none;
  display: flex;
  gap: 1rem;
}

.footer{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  border-top: 1px solid #000;
  margin-top: 2rem;
  padding: 1rem;
}

.footer_button{
  display: flex;
  margin-left: 1rem;
  padding: 10px;
}

.pro_img{
  display: block;
  width: 100%;
  height: 500px;
}

.pro_text_img{
  position: absolute;
  top: 40%;
  right: 3%;
  width: 25%;
  font-weight: 900;
  font-size: 2.3vw !important;
  color: #faf500c9;
  text-align: left;
  line-height: 1.4;
}

.pro_text{
  margin: 10px;
  align-content: center;
}

.pro{
  flex: 1;
}

.card{
  display: flex;
  align-items: center;
  margin: 20px 140px;
}
.img1{
  display: flex;
}

.pro_text__img1{
  position: absolute;
  top: 50%;
}